# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.keystore

# iOS
Pods/
Runner.xcworkspace/

# IDE
.idea/
.vscode/

# Node (if used)
node_modules/

# Env files
.env

# Logs
*.log